@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resource Not Found</title>
</head>
<body>
    <div>
        Sorry, but the resource requested cannot be found.
    </div>
</body>
</html>
